.greybody {
  background-color: #7d7d7d;
}

.card{
max-height:14000px;
}

 .card-body{
     width: 95% !important;
     margin: 0 auto;
 }

div {
  background-color: #ffffff;
}

.spacerBetween {
  height: 35px;
}
