<html>
    <head>
        <title>Review Discourse Annotator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/index.css">
    </head>

<body class="blue">

    <br />
  <div class="container">

    {% if example_list %}
    <ul>
    {% for example in example_list %}
        <li><a href="/qa_annotate/{{ example.id }}/"> {{ example.parent_comment_id }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


  </div>

</body>


</html>
